h3 {
  color: maroon;
}

h4 {
  text-align: center;
}

h6 {
  text-align: center;
}

#a3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#a3 p {
  text-align: center;
}

#a3 .btn-exp {
  width: 20%;
  margin: auto;
}

#a3 #click {
  text-align: center;
}

.white-text {
  color: white;
}

