<div class= "container">
<h3>Hi, I am working on Angular</h3>
<hr>
<app-server></app-server>
  <br><br>
  <app-servers></app-servers>
  <br><hr>
  <h4>Assignment 1</h4>
  <h6>Working with components</h6>
  <br>
  <app-warning-alert></app-warning-alert>
  <app-success-alert></app-success-alert>
  <br><hr>
  <h4>Assignment 2</h4>
  <h6>Data Binding</h6>
  <br>
  <label>Username</label><br>
  <input type="text" class="form-control" [(ngModel)]="username">
  <p>{{username}}</p>
  <button
    class="btn btn-primary"
    [disabled]="username==''"
    (click)="username=''">Reset User</button>
  <br><hr>
  <div id="a3">
    <h4>Assignment 3</h4>
    <h6>Directives</h6>
    <br>
    <!--<button class="btn btn-primary btn-exp" (click)="showSecret=!showSecret">Display Details</button>-->
    <button class="btn btn-primary btn-exp" (click)="showlog()">Display Details</button>
    <br>
    <p *ngIf="showSecret">Secret Password = Tuna (Shhhh...... don't tell anyone)</p>
    <div *ngFor="let logItem of log"
         id="click"
          [ngStyle]="{background: logItem >= 5 ? 'darkblue' : 'transparent'}"
          [ngClass]="{'white-text': logItem>=5}">
      Button clicked {{logItem}} time(s)
    </div>
    <br><br><hr>
  </div>

</div>
